<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Flixdin"
        tools:targetApi="31">
        <activity
            android:name=".ResetCredentialActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".PreferenceActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".connection_call_card"
            android:exported="true"></activity>
        <activity
            android:name=".ResetPassActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ResetCodeActivity"
            android:exported="true"></activity>
        <activity
            android:name=".DomainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ProductionVerificationActivity"
            android:exported="true"></activity>
        <activity
            android:name=".PictureActivity"
            android:exported="true" />
        <activity
            android:name=".TermsActivity"
            android:exported="true" />
        <activity
            android:name=".UsernameActivity"
            android:exported="true" />
        <activity
            android:name=".BirthdayActivity"
            android:exported="true" />
        <activity
            android:name=".LoginSaveActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".NameActivity"
            android:exported="false" />
        <activity
            android:name=".MobileConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".MobileNumberActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".LoginOneActivity"
            android:exported="true" />
        <activity
            android:name=".LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>